@font-face {
  font-family: NineTsukiRegular;
  src: url('../font/NineTsukiRegular.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');
}

.feedback-main-box {
  border: 3px solid black;
  font-family: NineTsukiRegular , sans-serif;
  max-width: 25rem;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
}

.btn-ranking {
  background: #fbca1f;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  padding: 0.5rem 0;
  width: 100%;
}

.btn-ranking:hover {
  box-shadow: 0.15em 0.15em;
  transform: translate(-0.05em, -0.05em);
}

.btn-ranking:active {
  box-shadow: 0.05em 0.05em;
  transform: translate(0.05em, 0.05em);
}

.btn-play-again {
  background: #0c7711;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  height: 2rem;
  padding: 0;
  width: 7.5rem;
}

.btn-play-again:hover {
  box-shadow: 0.15em 0.15em;
  transform: translate(-0.05em, -0.05em);
}

.btn-play-again:active {
  box-shadow: 0.05em 0.05em;
  cursor: pointer;
  transform: translate(0.05em, 0.05em);
}