/* referência de estilo https://cssbuttons.io/detail/adamgiebl/giant-donkey-36 */
.btnCongig {
  background: #fbca1f;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  padding: 0.6em 1.3em;
}

.btnCongig:hover {
  box-shadow: 0.15em 0.15em;
  transform: translate(-0.05em, -0.05em);
}

.btnCongig:active {
  box-shadow: 0.05em 0.05em;
  transform: translate(0.05em, 0.05em);
}

/* Button play */

/* referência de estilo https://cssbuttons.io/detail/adamgiebl/giant-donkey-36 */
.btnPlay {
  background: #0c7711;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  padding: 0.6em 1.3em;
}

.btnPlay:hover {
  box-shadow: 0.15em 0.15em;
  transform: translate(-0.05em, -0.05em);
}

.btnPlay:active {
  box-shadow: 0.05em 0.05em;
  cursor: pointer;
  transform: translate(0.05em, 0.05em);
}

.btnPlay:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}
