@font-face {
  font-family: NineTsukiRegular;
  src: url('../font/NineTsukiRegular.ttf');
}

/* referência de estilo https://cssbuttons.io/detail/adamgiebl/giant-donkey-36 */
.btn-config {
  background: #fbca1f;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  padding: 0;
  width: 7.5rem;
}

.btn-config:hover {
  box-shadow: 0.15em 0.15em;
  transform: translate(-0.05em, -0.05em);
}

.btn-config:active {
  box-shadow: 0.05em 0.05em;
  transform: translate(0.05em, 0.05em);
}

/* Button play */

/* referência de estilo https://cssbuttons.io/detail/adamgiebl/giant-donkey-36 */
.btn-play {
  background: #0c7711;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  height: 2rem;
  padding: 0;
  width: 7.5rem;
}

.btn-lay:hover {
  box-shadow: 0.15em 0.15em;
  transform: translate(-0.05em, -0.05em);
}

.btn-play:active {
  box-shadow: 0.05em 0.05em;
  cursor: pointer;
  transform: translate(0.05em, 0.05em);
}

.btn-play:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}

.login-main-box {
  border: 3px solid black;
  font-family: NineTsukiRegular , sans-serif;
  max-width: 25rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.label-nickname .label-email-address {
  font-size: 5rem;
  width: 100%;
}

.image-trivia {
  width: 12rem;
}

.input-nickname, .input-email-address{
  height: 2rem;
  width: 100%;
  background-color: rgb(57, 85, 166);
  color: rgb(245, 245, 245);
}
