.wrong-answer {
  border: 3px solid red;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.answers-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 1rem;
  padding: 1rem; */
  border: outset;
  height: 25%;
  width: 100%;
}

.question-container {
  height: 10%;
  width: 80%;
}

/* .question-category {} */

.timer-container {
  height: 10%;
  width: 100%;
}

.quiz-container {
  height: 40%;
  width: 100%;
}

.btn-next-container {
  display: flex;
  height: 15%;
  width: 100%;
  margin: 0 auto;
}
